
.decorated-zone::before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-inline-start: 1px solid var(--decoration-color);
  border-block-end: 1px solid var(--decoration-color);
  bottom: 10px;
  left: 10px;
  z-index: 1;
} 

.bulb {
  color: var(--accent-color);
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 20px;
}

.bulb::after {
  content: '';
  display: inline-block;
  margin-inline-start: 10px;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: -0 0 5px 2px currentColor;
  z-index: 2;
}

@media (width > 500px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
}

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
}

  .bulb {
    top: 20px;
    right: 30px;
  }
}

