/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-image: url(../images/cover-image-light.png);
  --bgcolor: #FFF1F7;
  --accent-color: #FF8DCB;
  --color: #353430;
  --headline-color: #FFC2E6;
  --shadow-color: #FF0070;
  --hover-color: rgba(50, 49, 45, 0.40);
  --decoration-color: rgba(50, 49, 45, 0.40);
  --title-decor-color: #353430;
  --subheadline-color: #353430;
  --active-color: #353430;
}

.page.theme_light .bulb{
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bgcolor: #FFF1F7;
    --accent-color: #FF8DCB;
    --color: #353430;
    --headline-color: #FFC2E6;
    --shadow-color: #FF0070;
    --hover-color: rgba(50, 49, 45, 0.40);
    --decoration-color: rgba(50, 49, 45, 0.40);
    --title-decor-color: #353430;
    --subheadline-color: #353430;
    --active-color: #353430;
  }

  .bulb {
    display: none;
  }

  .page.theme_dark .bulb {
    display: block;
  }
}





